<%= @cart.each do |item| %>
    <label><%= item %></label><br>
<% end %>

<%= form_tag "/products/add", method: :create do %>
    <%= text_field_tag "product"%>
    <%= submit_tag "add to cart"%>
<% end %>

